<a href="https://colab.research.google.com/github/rimashah1/introR/blob/main/bookbrown.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install rpy2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: rpy2 in /usr/local/lib/python3.7/dist-packages (3.4.5)
Requirement already satisfied: tzlocal in /usr/local/lib/python3.7/dist-packages (from rpy2) (1.5.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from rpy2) (2.11.3)
Requirement already satisfied: cffi>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from rpy2) (1.15.1)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from rpy2) (2022.4)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.10.0->rpy2) (2.21)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->rpy2) (2.0.1)

In [ ]:
%load_ext rpy2.ipython

1.3.1 Variables

In [ ]:
%%R
# Create an object
x <- 12

# Create a vector
some_numbers <- c(0,1,2,3,4,5,6,7,8,9)

1.3.2 Functions

In [ ]:
%%R
mean(some_numbers)

[1] 4.5

1.4 Packages

In [ ]:
%%R

# to install a package
install.packages('tidyverse')
# to load a package
library(tidyverse)

WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: trying URL 'https://cran.rstudio.com/src/contrib/tidyverse_1.3.2.tar.gz'

WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: Content type 'application/x-gzip'
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]:  length 702514 bytes (686 KB)

WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: =
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]:

WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: downloaded 686 KB


WARNING:rpy2.rinterface_lib.callbacks:R[write to console]:

WARNING:rpy2.rinterface_lib.callbacks:R[write to console]:
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]: The downloaded source packages are in
	‘/tmp/RtmpvmLu2d/downloaded_packages’
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]:
WARNING:rpy2.rinterface_lib.callbacks:R[write to console]:

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ purrr   0.3.5
✔ tibble  3.1.7      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.3      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

1.5 R Markdown <br>
R Markdown is a format for creating unified documents with R. Unlike the R script format introduced above, R Markdown allows you to combine code, its output, and text annotations in a single document

2.1 and 2.2 Packages and Loading Data

In [30]:
%%R
# See installing packages above
# To load file, specify exact file path for file
paygap <- read.csv('/datalab/data/gender-paygap-2019.csv', header = TRUE)

In [42]:
%%R
# Viewing Data
head(paygap, n = 5) # view first 5 rows

                                          EmployerName EmployerId
1 'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVERSITY'      19070
2                      "Bryanston School",Incorporated        676
3                 "RED BAND" CHEMICAL COMPANY, LIMITED      16879
4                                    123 EMPLOYEES LTD      17677
5                                           1509 GROUP      15320
                                                        Address PostCode
1        Aberystwyth University, Penglais, Ceredigion, SY23 3FL SY23 3FL
2                  Bryanston House, Blandford, Dorset, DT11 0PX DT11 0PX
3              19 Smith's Place, Leith Walk, Edinburgh, EH6 8NU  EH6 8NU
4                     34 Roundhay Road, Leeds, England, LS7 1AB  LS7 1AB
5 Royal Grammar School, High Street, Guildford, Surrey, GU1 3BB  GU1 3BB
  CompanyNumber      SicCodes DiffMeanHourlyPercent DiffMedianHourlyPercent
1      RC000641                                12.3                     8.4
2      00226143         85310                  19.6                    32.5
3      SC016876         47730                   7.7                    -4.2
4      10530651         78300                  30.0                    29.0
5      04104101 85200,\n85310                  13.4                    12.7
  DiffMeanBonusPercent DiffMedianBonusPercent MaleBonusPercent
1                   NA                     NA              0.0
2                   NA                     NA              0.0
3                 23.7                  -75.2             22.2
4                -10.0                   69.0             46.0
5                  0.0                    0.0              0.0
  FemaleBonusPercent MaleLowerQuartile FemaleLowerQuartile
1                  0              52.2                47.8
2                  0              32.4                67.6
3                 82              31.6                68.4
4                 74               0.0               100.0
5                  0              38.1                61.9
  MaleLowerMiddleQuartile FemaleLowerMiddleQuartile MaleUpperMiddleQuartile
1                    37.6                      62.4                    46.6
2                    38.2                      61.8                    44.9
3                    12.7                      87.3                    11.6
4                     2.0                      98.0                    17.0
5                    43.6                      56.4                    48.4
  FemaleUpperMiddleQuartile MaleTopQuartile FemaleTopQuartile
1                      53.4            63.7              36.3
2                      55.1            53.3              46.7
3                      88.4            20.3              79.7
4                      83.0            25.0              75.0
5                      51.6            61.3              38.7
                                           CompanyLinkToGPGInfo
1 https://www.aber.ac.uk/en/equality/genderpaygapreporting2019/
2                        https://www.bryanston.co.uk/employment
3
4
5                               https://www.rgs-guildford.co.uk
                           ResponsiblePerson EmployerSize
1       Elizabeth Treasure (Vice-Chancellor) 1000 to 4999
2 Michael McGovern (Chief Operating Officer)   500 to 999
3            Philip Galt (Managing Director)   250 to 499
4         Chloe Lines (Financial Controller)   250 to 499
5                     Kate Perceval (Bursar)   250 to 499
                                           CurrentName
1 'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVERSITY'
2                        BRYANSTON SCHOOL INCORPORATED
3                 "RED BAND" CHEMICAL COMPANY, LIMITED
4                                    123 EMPLOYEES LTD
5                                           1509 GROUP
  SubmittedAfterTheDeadline             DueDate       DateSubmitted
1                     False 2019/04/05 00:00:00 2019/04/03 12:55:59
2                     False 2019/04/05 00:00:00 2019/04/03 13:43:34
3                     False 2019/04/05 00:00:00 2019/04/01 12:37:21
4                     False 2019/04/05 00:00:00 2019/04/03 15:43:17
5                     False 2019/04/05 00:00:00 2019/03/18 14:03:16

In [43]:
%%R
colnames(paygap) # see column names

 [1] "EmployerName"              "EmployerId"
 [3] "Address"                   "PostCode"
 [5] "CompanyNumber"             "SicCodes"
 [7] "DiffMeanHourlyPercent"     "DiffMedianHourlyPercent"
 [9] "DiffMeanBonusPercent"      "DiffMedianBonusPercent"
[11] "MaleBonusPercent"          "FemaleBonusPercent"
[13] "MaleLowerQuartile"         "FemaleLowerQuartile"
[15] "MaleLowerMiddleQuartile"   "FemaleLowerMiddleQuartile"
[17] "MaleUpperMiddleQuartile"   "FemaleUpperMiddleQuartile"
[19] "MaleTopQuartile"           "FemaleTopQuartile"
[21] "CompanyLinkToGPGInfo"      "ResponsiblePerson"
[23] "EmployerSize"              "CurrentName"
[25] "SubmittedAfterTheDeadline" "DueDate"
[27] "DateSubmitted"

In [46]:
%%R
dim(paygap) # dimensions

[1] 10466    27

2.3 Data Structures

In [41]:
%%R
# Check data type
class(paygap)

[1] "data.frame"

In [38]:
%%R
# Check for a column
class(paygap$DiffMeanHourlyPercent)

[1] "numeric"

3.1 Wrangling Data
Note: The cardiacdata dataset was not available for download from the website so the paygap dataset was used for exercises

In [50]:
%%R
# Indexing
# extract element in first row, third column
paygap[1,3]

[1] "Aberystwyth University, Penglais, Ceredigion, SY23 3FL"

In [51]:
%%R
# extract rows 5-7 from columns 1-3
paygap[5:7,1:3]

                        EmployerName EmployerId
5                         1509 GROUP      15320
6                       1610 LIMITED        682
7 1LIFE MANAGEMENT SOLUTIONS LIMITED        687
                                                                             Address
5                      Royal Grammar School, High Street, Guildford, Surrey, GU1 3BB
6           Trinity Sports And Leisure, Chilton Street, Bridgwater, England, TA6 3JA
7 Ldh House St Ives Business Park, Parsons Green, St. Ives, Cambridgeshire, PE27 4AA

In [1]:
%%R
# Extracting
names <- paygap$EmployerName

UsageError: Cell magic `%%R` not found.

In [2]:
%%R
# Selecting Columns
# select columns 'EmployerName' and 'EmployerId' and assign to new object 'employees'
employees <- select(paygap, EmployerName, EmployerId)

UsageError: Cell magic `%%R` not found.

In [1]:
%%R 
# Renaming Columns
paygap <- rename(paygap, EmployerID = EmployerId)

UsageError: Cell magic `%%R` not found.